extends "layout.jade"

block head
  title About How You Been?
  
block content
  h1 About How You Been
  
  p.explanation
    | This little app was built using 
    | <a href="http://python.org/">Python</a>,
    | <a href="http://code.google.com/appengine/">Google App Engine</a>,
    | <a href="http://webapp-improved.appspot.com/">Google's webapp2</a>,
    | <a href="http://jquery.com/">jQuery</a>,
    | <a href="https://github.com/carhartl/jquery-cookie/">jquery.cookie</a>,
    | and <a href="https://github.com/SyrusAkbary/pyjade/">pyjade</a>.
    | It's open-sourced under the MIT License, except for my API keys, 
    | and you can find the latest version of the source on 
    | <a href="https://github.com/timgilbert/how-you-been/">github</a>.
  p.explanation
    | How You Been was written by <a href="http://timgilbert.wordpress.com/">Tim Gilbert</a>.
    | It is called &ldquo;How You Been&rdquo; because &ldquo;foursqu<i>a</i>st.fm&rdquo; was taken.
    | It does not store any data about you, because frankly your taste in music is terrible.

  // Should I find some icon versions of these, maybe for the front page?
  .logos
    ul
      // All of these logos are copyright their respective companies, obvs
      li: img(src="static/img/logo/poweredByFoursquare_gray.png")
      li: img(src="static/img/logo/lastfm_red.gif")
      li: img(src="static/img/logo/spotify-logo-96x96-neg-tagline.png")
      li: img(src="static/img/logo/RdioBlueLogo.png")
    
    