!!! 5
html(lang="en")
  head
    script(type="text/javascript" src="static/jquery-1.7.1.js")
    link(rel="stylesheet" type="text/css" href="static/style.css")
    title Oops, an error occurred
  
  body
    h1 Whoah dude
    
    p {{http_status}} error: {{exception}}
