!!! 5
html(lang="en")

  head
    script(type="text/javascript" src="static/jquery-1.7.1.js")
    script(type="text/javascript" src="static/jquery.cookie.js")
    link(rel="stylesheet" type="text/css" href="static/style.css")
    title Foursquare response
    
    script(type="text/javascript")
      var accessCode = "{{access_code}}";
      $(function() {
        $('#code').text(accessCode); 
      });
  
  body
    h1 Hey now
    
    p Code: {{code}}
    p
      a(href={{url}}) {{url}}
    p Response: {{access_code}}
    p Here's the dynamic version:
      span#code xyzzy

