!!! 5
html(lang="en")
  head
    script(type="text/javascript" src="static/jquery-1.7.1.js")
    link(rel="stylesheet" type="text/css" href="static/style.css")
    title= message
  
  body
    h1 Jade
    p= message


