!!! 5
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript" src="static/js/lib/jquery.cookie.js")
    script(type="text/javascript" src="static/js/how-you-been.js")
    script(type="text/javascript" src="static/js/weighted-list.js")
    link(rel="stylesheet" type="text/css" href="static/css/style.css")
    block head
    title How You Been?
    script(type="text/javascript")
      $(function() { initHomePage(); });
  
  body
  
    #content
      block content
    
    #footer
      block footer
    
    if debug:
      #debug
        block debug
    