extends "layout.jade"

block head
  title How You Been? Playlist
  script(type="text/javascript" src="static/lastfm.api.md5.js")
  script(type="text/javascript" src="static/lastfm.api.js")
  script(type="text/javascript" src="static/lastfm.api.cache.js")
  script(type="text/javascript")
    // Note that the following value is interpolated by the server
    var lastFmApiKey = "{{lastFmApiKey}}";
    $(function() { initPlaylistPage(); });

block content
  h1 Playlist
  
  button#go Generate!
  
  #playlist
  
  #templates.hidden
    
    // Basic template for a single track listing
    #track.track
      span.inspiration item
      button.search Find song
      span.artist.hidden Artist
    
    #song
      p song!

block debug
  h2 Inspiration
  pre {{inspiration}}
  h2 Raw Checkin Data ({{encoding}})
  pre {{pretty}}
  