extends "layout.jade"

block head
  title How You Been? Playlist
  script(type="text/javascript" src="static/js/lib/lastfm.api.md5.js")
  script(type="text/javascript" src="static/js/lib/lastfm.api.js")
  script(type="text/javascript" src="static/js/lib/lastfm.api.cache.js")
  script(type="text/javascript")
    // Note that the following value is interpolated by the server
    var lastFmApiKey = "{{lastFmApiKey}}";
    $(function() { initPlaylistPage(); });

block content
  h1 Playlist
  
  button#go Generate!
  
  #playlist
  
  #templates.hidden
    
    // Basic template for a single track listing
    #track.track
      span.inspiration inspiration
      button.search Find song
      // This is displayed is no songs were found
      .notfound.hidden ??? No songs found
      // This is displayed is sngs were found
      .found.hidden
        p.summary 
          span.tracksFound XYZ
          | tracks found
        p.artist Artist
        a.name(href="") name
        // TBD: width / height
        img(href="")
    
    #song
      p song!

block debug
  h2 Inspiration
  pre {{inspiration}}
  h2 Raw Checkin Data ({{encoding}})
  pre {{pretty}}
  