!!! 5
html(lang="en")
  head
    script(type="text/javascript" src="static/jquery-1.7.1.js")
    link(rel="stylesheet" type="text/css" href="static/style.css")
    title How You Been? Playlist
  
  body
    h1 Playlist

    if debug:
      #debug
        h2 Inspiration
        pre {{inspiration}}
        h2 Raw Checkin Data ({{encoding}})
        pre {{pretty}}
      