extends "layout.jade"

block head
  title How You Been? Playlist
  script(type="text/javascript")
    $(function() { initPlaylistPage(); });

block content
  h1 Playlist
  
  button#go Generate!
  
  #playlist
  
  #templates.hidden
    
    // Basic template for a single track listing
    #track.track
      span.inspiration item
      button.search Find song
    
    #song
      p song!

block debug
  h2 Inspiration
  pre {{inspiration}}
  h2 Raw Checkin Data ({{encoding}})
  pre {{pretty}}
  