extends "layout.jade"

block head
  title test page for How You Been?
  script(type="text/javascript" src="static/js/test.js")
  script(type="text/javascript")
    $(function() {
      console.debug('O HAI')
    });
  
block content
  h1 Test page
  
  #outputDiv.hidden
    h2 Output
    #output 
  
  #templates.hidden
