extends "layout.jade"

block head
  title test page for How You Been?
  script(type="text/javascript" src="static/js/test.js")
  script(type="text/javascript")
    $(function() {
      $('button#go').click(function(event) {
        $('#outputDiv').show();
        $('#output').children().remove();
        var wl = new WeightedList([
            ['a', 1], 
            ['b', 1],
            ['c', 4],
            ['d', 1],
            ['e', 4],
            ['f', 1],
            ['g', 1]]);
        for (var i = 0; i < 10; i++) {
          var shuf = wl.shuffle();
          // shuf = ['a', 'b', 'c'];//wl.shuffle();
          //console.log('shuffle', shuf);
          $('#output').append('<p>' + shuf.join(', ') + '</p>')
        }
      });
    });
  
block content
  h1 Test
  p Hit this button to run tests:
    button#go Do it
  
  #outputDiv.hidden
    h2 Output
    p#output Output
    